[Unit]
Description=Watch for tablet mode
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Environment=WAYLAND_DISPLAY=wayland-1
ExecStart=wm-watch-tablet
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical-session.target
