#!/bin/sh

export PATH=$PATH:$HOME/bin
export GDK_BACKEND=x11
export SSH_ASKPASS=/usr/local/bin/xaskpass
export SSH_AUTH_SOCK=$XDG_RUNTIME_DIR/ssh-agent.socket

[ -r $HOME/.bashrc ] && . $HOME/.bashrc
[ -r $HOME/.merdely.profile ] && . $HOME/.merdely.profile

# Set the background
# Override firejail's feh (breaks it)
/usr/bin/feh --bg-fill $HOME/.config/arch-wallpaper.png

# Fix monitors using xrandr
[ -r /etc/lightdm/display_setup.sh ] && /bin/sh /etc/lightdm/display_setup.sh

# Remap CapsLock to Super
setxkbmap -option caps:super

# Load X settings
[ -r $HOME/.Xresources ] && xrdb -merge -I$HOME $HOME/.Xresources

# Load urxvt daemon
#urxvtd -o -f -q

# Determine window manager from environment variables; defaulting to qtile
current_wm=$DESKTOP_SESSION
[ -z "$current_wm" ] && current_wm=$GDMSESSION
[ -z "$current_wm" ] && [ "$(basename "${BASH_ARGV[1]}")" = dwm ] && current_wm=dwm
[ -z "$current_wm" ] && [ "${BASH_ARGV[1]%% *}" = qtile ] && current_wm=qtile
[ -z "$current_wm" ] && current_wm=qtile

# Start WM specific programs
case $current_wm in
  dwm|dwm-stable)
    dwmblocks &
    ;;
  openbox)
    tint2 &
    ;;
esac

# Prompt for ssh key passphrase
[ ! -r $HOME/.config/qtile/autostart.sh ] && ssh-add < /dev/null

# Load global key bindings; '-p' autoloads changes to ~/.xbindkeysrc
xbindkeys -p

# Run lxsession to allow polkit (GUI sudo)
lxsession &

# Mute the microphone by default
amixer -q -D pulse sset Capture nocap

# Set the Speaker/Mic Volumes to something reasonable
pactl > /dev/null 2>&1 && pactl set-source-volume @DEFAULT_SOURCE@ 50%
pactl set-sink-volume @DEFAULT_SINK@ 70%

# Run compositor for transparency
picom &

# Set up screen locker
#if [ -x $HOME/bin/screenlocker ]; then
#  if which xss-lock > /dev/null 2>&1; then
#    xss-lock -- $HOME/bin/screenlocker xss-lock &
#
#    # Start hot corners daemon
#    fittstool &
#  elif which xautolock > /dev/null 2>&1; then
#    xautolock -locker 'printf "METHOD=xautolock\n">/run/user/1000/screenlocker_vars;sudo systemctl start slock@mike.service' -time 15 -detectsleep -secure -corners ---- &
#  else
#    echo "There is no auto screen locker installed" > /dev/stderr
#  fi
#fi

# Start xscreensaver
# starts as systemd user service # xscreensaver --no-splash &
xss-lock -- xscreensaver-command -lock &
$HOME/bin/monitor-xscreensaver &

# Set default screensaver, dpms, and font settings
#[ -r $HOME/.config/xset/screensaver ] && sh $HOME/.config/xset/screensaver
[ -r $HOME/.config/xset/dpms ] && sh $HOME/.config/xset/dpms
[ -r $HOME/.config/xset/fonts ] && sh $HOME/.config/xset/fonts

# Start some X apps if .noautostart does not exist
if [ ! -r $HOME/.noautostart ]; then
  # Package Manager GUI tray icon
  pamac-tray &

  # Start AppArmor Notify applet
  aa-notify -p -s 1 -w 60 -f /var/log/audit/audit.log

  # Start notification daemon
  dunst &

  # Start NetworkManager applet
  nm-applet &

  # Start removable media automounter
  udiskie &

  # Start note taking application
  # joplin-desktop &
  $HOME/bin/joplin-desktop &

  # Start Discord (chat client)
  # discord --start-minimized &

  # Start Hexchat (IRC Client)
  # hexchat --minimize=2 &

  # Start password manager
  bitwarden-desktop &

  # Start on-screen keyboard
  # onboard -a &

  # Start screenshot manager
  flameshot &

  # Start nvidia dual mode manager
  # optimus-manager-qt &
fi

