## Mike's Master shell profile
# vim: set filetype=sh :

if [[ ! -e /bsd ]]; then
# Include system .bashrc from /etc/skel
# =====================================
{{- if lstat "/etc/skel/.bashrc" }}
{{- include "/etc/skel/.bashrc" }}
{{- end }}
# =====================================
fi

# Set umask early
umask 0022 > /dev/null 2>&1

# Set non-interactive variables
export LANG=en_US.UTF-8
export LC_CTYPE=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export GIT_AUTHOR_NAME="Michael Erdely"
export GIT_AUTHOR_EMAIL="mike@erdelynet.com"
export GIT_COMMITTER_NAME=$GIT_AUTHOR_NAME
export GIT_COMMITTER_EMAIL=$GIT_AUTHOR_EMAIL

# Set EUID if not set
[[ -z "$EUID" ]] && EUID=$(id -u 2>/dev/null) && export EUID

# Set PATH
[[ -d /srv/scripts/sbin && ":$PATH:" != *:/srv/scripts/sbin:* ]] && PATH=/srv/scripts/sbin:$PATH
[[ -d /srv/scripts/bin  && ":$PATH:" != *:/srv/scripts/bin:*  ]] && PATH=/srv/scripts/bin:$PATH
[[ ":$PATH:" != *":$HOME/.local/bin:"* ]] && PATH=$HOME/.local/bin:$PATH
[[ ":$PATH:" != *:/usr/sbin:* ]] && PATH=$PATH:/usr/sbin
[[ -x /usr/lib/nagios/plugins/check_disk && ":$PATH:" != *:/usr/local/nagios/plugins:* ]] && \
  PATH=$PATH:/usr/lib/nagios/plugins
export PATH

# XDG PATHS (https://wiki.archlinux.org/title/XDG_Base_Directory)
export XDG_CONFIG_HOME=${XDG_CONFIG_HOME:-$HOME/.config}
export XDG_CACHE_HOME=${XDG_CACHE_HOME:-$HOME/.cache}
export XDG_DATA_HOME=${XDG_DATA_HOME:-$HOME/.local/share}
export XDG_STATE_HOME=${XDG_STATE_HOME:-$HOME/.local/state}
export XDG_RUNTIME_DIR=${XDG_RUNTIME_DIR:-/run/user/$EUID}
export XDG_DATA_DIRS=$XDG_DATA_HOME:${XDG_DATA_DIRS:-/usr/local/share:/usr/share}

# Make sure specific XDG directories are writeable
if [[ -w /dev/shm ]]; then
  [[ ! -w "$XDG_RUNTIME_DIR" ]] && export XDG_RUNTIME_DIR=/dev/shm/.$EUID && \
    mkdir -pm 700 "$XDG_RUNTIME_DIR" > /dev/null 2>&1
else
  [[ ! -w "$XDG_RUNTIME_DIR" ]] && export XDG_RUNTIME_DIR=/tmp/.$EUID && \
    mkdir -pm 700 "$XDG_RUNTIME_DIR" > /dev/null 2>&1
fi
[[ ! -w "$XDG_CACHE_HOME" ]] && export XDG_CACHE_HOME=$XDG_RUNTIME_DIR/cache && \
  mkdir -pm 700 "$XDG_CACHE_HOME" > /dev/null 2>&1
[[ ! -w "$XDG_STATE_HOME" ]] && export XDG_STATE_HOME=$XDG_RUNTIME_DIR/state && \
  mkdir -pm 700 "$XDG_STATE_HOME" > /dev/null 2>&1

# Create XDG directories if necessary
for dir in "$XDG_CONFIG_HOME" "$XDG_CACHE_HOME" "$XDG_DATA_HOME" "$XDG_STATE_HOME"; do
  [[ ! -d "$dir" ]] && mkdir -p "$dir"
done
unset dir

# Configuration settings to not pollute $HOME
# XDG_CONFIG_HOME ($HOME/.config)
export ANSIBLE_CONFIG=$XDG_CONFIG_HOME/ansible.cfg
export ANSIBLE_HOME=$XDG_CONFIG_HOME/ansible
export DOCKER_CONFIG=$XDG_CONFIG_HOME/docker
export GTK2_RC_FILES=$XDG_CONFIG_HOME/gtk-2.0/gtkrc-2.0
export NPM_CONFIG_USERCONFIG=$XDG_CONFIG_HOME/npm/npmrc
export SCREENRC=$XDG_CONFIG_HOME/screen/screenrc
export WGETRC=$XDG_CONFIG_HOME/wget/wgetrc
export PSQLRC=$XDG_CONFIG_HOME/pg/psqlrc
# XDG_CACHE_HOME $($HOME/.cache)
export ANSIBLE_GALAXY_CACHE_DIR=$XDG_CACHE_HOME/ansible/galaxy_cache
export CUDA_CACHE_PATH=$XDG_CACHE_HOME/nv
export DEAD=$XDG_CACHE_HOME/dead.letter
export LESSHISTFILE=$XDG_CACHE_HOME/less-history
export MYSQL_HISTFILE=$XDG_CACHE_HOME/mysql_history
export PSQL_HISTORY=$XDG_CACHE_HOME/psql_history
export PYTHON_HISTORY=$XDG_CACHE_HOME/python-history
export SQLITE_HISTORY=$XDG_CACHE_HOME/sqlite_history
# XDG_STATE_HOME ($HOME/.local/state)
export CARGO_HOME=$XDG_STATE_HOME/cargo
export DVDCSS_CACHE=$XDG_STATE_HOME/dvdcss
export GNUPGHOME=$XDG_STATE_HOME/gnupg
# XDG_DATA_HOME ($HOME/.local/share)
export ELECTRUMDIR=$XDG_DATA_HOME/electrum
export GOPATH=$XDG_DATA_HOME/go
export GOBIN=$XDG_DATA_HOME/go/bin
export LEIN_HOME=$XDG_DATA_HOME/lein
export MACHINE_STORAGE_PATH=$XDG_DATA_HOME/docker-machine
export PASSWORD_STORE_DIR=$XDG_DATA_HOME/password-store
export VSCODE_PORTABLE=$XDG_DATA_HOME/vscode
# XDG_RUNTIME_DIR (/run/user/1000 or /tmp/.1000)
export SCREENDIR=$XDG_RUNTIME_DIR/screen

# Read variables from ~/.config/environment.d/$LOGNAME.conf
if [[ -r "$XDG_CONFIG_HOME"/environment.d/"$LOGNAME".conf ]]; then
  # Enable automatic exporting of variables
  set -a
  . "$XDG_CONFIG_HOME"/environment.d/"$LOGNAME".conf
  # Disable automatic exporting of variables
  set +a
fi

# Stop if non-interactive
[[ $- != *i* ]] && return

# Set kernel_name so we don't run 'uname -s' several times
[[ -r /etc/os-release ]] && . /etc/os-release
kernel_name=$(uname -s)
[[ -z "$ID" ]] && export ID=$kernel_name

# Used in aliases below
[[ -z "$HOSTNAME" ]] && HOSTNAME=$(hostname)
export HOSTNAME=${HOSTNAME%%.*}

# Remove a directory from PATH
path_prune() {
  [[ -z "$1" ]] && return 1
  local left_side right_side="$PATH:"

  # Loop through the PATH variable, moving elements from the right to the left,
  # skipping the prune-part
  while [[ -n "$right_side" ]]; do
    [[ "$1" != "${right_side%%:*}" ]] && left_side="${left_side}:${right_side%%:*}"
    right_side=${right_side#*:}
  done
  export PATH=${left_side#:}
}

# Intelligently add a directory to PATH
path_add() {
  local before=false
  [[ "$1" == "-b" ]] && before=true && shift
  [[ -z "$1" ]] && return 1
  path_prune "$1"
  if "$before"; then
    export PATH="$1":"$PATH"
  else
    export PATH="$PATH":"$1"
  fi
}

# For use in PS1, better PROMPT_DIRTRIM/\w
__prompt_trim_pwd() {
    local default=${1:-\\w}
    [[ -z "$BASH_VERSION" ]] && { echo "$default" ; return 0 ; }
    local ellipsis="…" pwd=${PWD/#$HOME/\~} parts trimmed
    [[ -z "$PROMPT_DIRTRIM" || "$PROMPT_DIRTRIM" -lt 1 ]] && { echo "$default" ; return 1 ; }
    eval 'IFS=/ read -ra parts <<< "$pwd"'
    if (( ${#parts[@]} == 0 )); then
      echo "$default" ; return 1
    elif [[ "${parts[0]}" == "~" && "${#parts[@]}" -gt $(( PROMPT_DIRTRIM + 2 )) ]]; then
        trimmed=${parts[*]: -$PROMPT_DIRTRIM}
        echo "~/${ellipsis}/${trimmed// //}"
    elif [[ "${parts[0]}" != "~" && "${#parts[@]}" -gt $(( PROMPT_DIRTRIM + 1 )) ]]; then
        trimmed=${parts[*]: -$PROMPT_DIRTRIM}
        echo "${ellipsis}/${trimmed// //}"
    else
        echo "$pwd"
    fi
}

# Load git prompt
if command -v git > /dev/null 2>&1; then
  unalias __git_ps1 > /dev/null 2>&1
  for file in "$HOME"/.local/bin/git-prompt.sh /usr/lib/git-core/git-sh-prompt \
              /usr/share/git-core/git-prompt.sh /usr/share/git/completion/git-prompt.sh
  do [[ -e "$file" ]] && . "$file" && break; done
  unset file

  if ! typeset -f __git_ps1 > /dev/null 2>&1; then
    [[ ! -d "$HOME"/.local/bin ]] && mkdir -p "$HOME"/.local/bin
    curl -sLo "$HOME"/.local/bin/git-prompt.sh \
      https://raw.githubusercontent.com/git/git/refs/heads/master/contrib/completion/git-prompt.sh
    [[ -s "$HOME"/.local/bin/git-prompt.sh ]] && . "$HOME"/.local/bin/git-prompt.sh
  fi

  if typeset -f __git_ps1 > /dev/null 2>&1; then
    GIT_PS1_COMPRESSSPARSESTATE=true
    GIT_PS1_SHOWDIRTYSTATE=true
    GIT_PS1_SHOWUNTRACKEDFILES=true
    GIT_PS1_SHOWSTASHSTATE=true
    GIT_PS1_SHOWUPSTREAM="auto"  # auto verbose name legacy git svn
    unset GIT_PS1_SHOWCOLORHINTS
    [[ -z "$KSH_VERSION" ]] && GIT_PS1_SHOWCOLORHINTS=true
    __gitglyph="§ "  # unicode section sign U+00A7
    [[ "$TERM" != linux ]] && __gitglyph=" "  # git branch symbol from nerd fonts
  fi
  pgrep -x gpg-agent > /dev/null 2>&1 || export GPG_TTY=$(tty)
fi
typeset -f __git_ps1 > /dev/null 2>&1 || alias __git_ps1=true

## Get current namespace name for prompt
#if command -v ip > /dev/null 2>&1; then
#  # Save current network namespace
#  current_netns=$(ip netns identify $$)
#  unset netnsp
#  [ -n "$current_netns" ] && netnsp="-[$current_netns]"
#fi

# Set up a basic prompt
unset __subshell
[[ "$CHEZMOI_SUBSHELL" == 1 ]] && __subshell="{C}"
# printf '\033%%G' switches terminal to UTF-8
[[ "$TERM" == vt220 ]] && { printf '\033%%G' ; }
PS1="[\u@\h \$(__prompt_trim_pwd '\W')]\${__subshell}\$(__git_ps1 ' (${__gitglyph}%s)' 2>/dev/null) \\$ "

# Set the prompt for bash
if [[ -n "$BASH_VERSION" ]]; then
  # \1 & \2 are good for the vi-ins-mode-string but \[ and \] are good for PS1
  # Colors: black:30, red:31, green:32, yellow:33, blue:34, magenta:35, cyan:36, white:37
  # foreground:38, background:48, reset_foreground:39, reset_background:49
  # bright_foreground:+60, bright_background:+70
  # bold:1, unbold:22, underline:4, un-underline:24, reverse:7, unreverse:27
  # orange:38;2;255;165;0 (a little darker: 38;5;208

  # Set up a good looking orange
  __orange='0;33'
  [[ "$TERM" != linux && "$TERM" != vt220 ]] && __orange='38;5;208'

  PROMPT_DIRTRIM=2
  shopt -s autocd cdspell extglob histappend

  # Show the mode in the prompt
  bind 'set show-mode-in-prompt on'

  # Lower the timeout for pressing escape
  bind 'set keyseq-timeout 100'

  # Set emacs-mode and vi-ins-mode to reset codes
  bind "set emacs-mode-string \"\1\e[1m\2\""
  bind "set vi-ins-mode-string \"\1\e[1m\2\""

  # Set vi-cmd-mode string to reverse mode
  bind "set vi-cmd-mode-string \"\1\e[0m\2\""

  # Rebuild prompt command with exit status and history commands
  eval 'IFS=";" read -ra parts <<< "$PROMPT_COMMAND"'
  PROMPT_COMMAND=""
  for part in "${parts[@]}"; do
    [[ -z "$part" || "$part" == "history "* || "$part" == "__prompt_exit="* || "$part" == ":" ]] && continue
    PROMPT_COMMAND="$PROMPT_COMMAND;$part"
  done
  PROMPT_COMMAND="__prompt_exit=\$?$PROMPT_COMMAND;history -a;history -c;history -r"
  unset parts part

  # Set prompt color based on exit status of last command
  __prompt_dollar() { ((__prompt_exit != 0)) && printf '\e[91m' || printf '\e[92m'; }

  # Set the prompt
  [[ "$CHEZMOI_SUBSHELL" == 1 ]] && __subshell=$'\1\e[1;95m\2{C}\1\e[22;39m\2'
  PS1="[\[\e[96m\]\u\[\e[39m\]@\[\e[92m\]\h\[\e[39m\] \[\e[94m\]\$(__prompt_trim_pwd "\W")\[\e[39m\]]\[\e[22;24;27;49m\]\${__subshell}\$(__git_ps1 ' (\[\e[1;${__orange}m\]${__gitglyph}\[\e[1;39m\]%s\[\e[22m\])' 2>/dev/null) \[\$(__prompt_dollar)\]\\$\[\e[39m\] \[\e[0m\]"
  unset __gitglyph

  # Set readline options
  bind 'set completion-ignore-case on'     # ignore case
  bind 'set completion-map-case on'        # treat hyphens and underscores the same
  #bind 'set show-all-if-ambiguous on'      # show all completions on first tab
  bind 'set show-all-if-unmodified on'     # show all completions on first tab with no partial match
  bind 'set colored-stats on'              # types in ls-style colors
  bind 'set colored-completion-prefix on'  # display common prefix in ls-style colors
  bind 'set mark-symlinked-directories on' # show directory symlinks with trailing slash
  bind 'set visible-stats on'              # append character indicating type
fi

# Load fzf for command history for bash and zsh
if command -v fzf > /dev/null 2>&1; then
  if [[ -n "$BASH_VERSION" ]]; then
    type __fzf_history__ > /dev/null 2>&1 || eval "$(fzf --bash)"
  elif [[ -n "$ZSH_VERSION" ]]; then
    type fzf-history-widget > /dev/null 2>&1 || eval 'source <(fzf --zsh)'
  fi
fi

# Fix PATH
path_add -b /srv/scripts/sbin
path_add -b /srv/scripts/bin
path_add -b $HOME/.local/bin

# History stuff
HISTFILE=$XDG_CACHE_HOME/shell_history
HISTFILESIZE=100000
HISTCONTROL=ignoreboth:erasedups
HISTSIZE=$HISTFILESIZE

# Variables
export LESS=REX
command -v virsh > /dev/null 2>&1 && \
  export VIRSH_DEFAULT_CONNECT_URI=qemu:///system LIBVIRT_DEFAULT_URI=qemu:///system

# Use vi-mode
set -o vi

# Aliases
alias reprofile='. $HOME/.profile'
[[ -n "$BASH_VERSION" && -r "$HOME"/.bash_profile ]] && alias reprofile='. $HOME/.bash_profile'
[[ -n "$ZSH_VERSION" && -r "$HOME"/.zprofile ]] && alias reprofile='. $HOME/.zprofile'
alias cdp='cd $(pwd -P)'
alias ls='ls -F'
[[ "$kernel_name" == Linux ]] && alias ls='ls -N --color=auto'
[[ "$kernel_name" == Linux ]] && alias grep='grep --color=auto'
[[ "$kernel_name" == Linux ]] && alias diff='diff --color=auto'
[[ -e /dev/pf ]] && alias pflog='doas tcpdump -n -e -ttt -i pflog0'
[[ -e /srv/scripts/bin/nohist ]] && alias nohist='. /srv/scripts/bin/nohist'
! command -v mail > /dev/null 2>&1 && command -v s-nail > /dev/null 2>&1 && alias mail=s-nail
if [[ -r /srv/scripts/sbin/daily_report_linux ]]; then
  alias check_reboot='sudo /srv/scripts/sbin/daily_report_linux reboot'
  alias check_restart='sudo /srv/scripts/sbin/daily_report_linux restart'
fi
[[ -d /opt/splunk || -d /opt/splunkforwarder ]] && alias susplunk='sudo su - splunk'
[[ -d /etc/acme ]] && alias suacme='sudo su -s /bin/bash -l acme'
command -v python2 > /dev/null 2>&1 && alias python=python2
command -v python3 > /dev/null 2>&1 && alias python=python3
command -v rsync > /dev/null 2>&1 && alias dos_rsync='rsync -rtcvP'
command -v batman > /dev/null 2>&1 && eval "$(batman --export-env)"
command -v bat > /dev/null 2>&1 && alias cat='bat --paging=never --plain'
command -v bat > /dev/null 2>&1 && export PAGER='bat'
command -v subnetcalc > /dev/null 2>&1 && alias ipcalc=subnetcalc
command -v flatpak > /dev/null 2>&1 && alias fu='flatpak update -y ; flatpak uninstall --unused -y'
command -v mpv > /dev/null 2>&1 && alias testcamera='mpv av://v4l2:/dev/video0 --profile=low-latency --untimed'
command -v git > /dev/null 2>&1 && [[ -d /srv/scripts ]] && alias us='sudo git -C /srv/scripts pull'
type source > /dev/null 2>&1 || alias source='.'
command -v which > /dev/null 2>&1 || alias which='command -v'

# Editor aliases
command -v view > /dev/null 2>&1 || alias view='vi -R'
if command -v nvim > /dev/null 2>&1; then
  export EDITOR=nvim SUDO_EDITOR=nvim
elif command -v vim > /dev/null 2>&1; then
  export EDITOR=vim SUDO_EDITOR=vim
else
  export EDITOR=vi SUDO_EDITOR=vi
fi
command -v sudoedit > /dev/null 2>&1 && alias sudovi=sudoedit

# Config file aliases
alias vip='vi "$XDG_CONFIG_HOME"/shell/merdely.profile'
[[ -r "$HOME"/.profile.local ]] && alias vipl='vi "$HOME"/.profile.local'
command -v hyprctl > /dev/null 2>&1 && alias vih='vi -O "$XDG_CONFIG_HOME"/hypr/hyprland.conf'
command -v i3-msg  > /dev/null 2>&1 && alias vi3='vi "$XDG_CONFIG_HOME"/i3/config'
command -v swaymsg > /dev/null 2>&1 && alias vis='vi "$XDG_CONFIG_HOME"/sway/config'
command -v niri    > /dev/null 2>&1 && alias vin='vi "$XDG_CONFIG_HOME"/niri/local.kdl'
command -v tmux    > /dev/null 2>&1 && alias vit='vi "$XDG_CONFIG_HOME"/tmux/tmuxrc'
command -v vim     > /dev/null 2>&1 && alias viv='vi "$XDG_CONFIG_HOME"/vim/vimrc'
command -v nvim    > /dev/null 2>&1 && alias viv='vi "$XDG_CONFIG_HOME"/nvim/init.lua'

# DNS Command aliases
if command -v dog > /dev/null 2>&1; then
  command -v dig > /dev/null 2>&1 || alias dig=dog
  command -v host > /dev/null 2>&1 || alias host=dog
fi

# Set some variables
if command -v docker > /dev/null 2>&1; then
  [[ -r /srv/docker/docker-compose.yaml ]] && export COMPOSE_FILE=/srv/docker/docker-compose.yaml
  [[ -r /srv/docker/compose.yaml ]] && export COMPOSE_FILE=/srv/docker/compose.yaml
  export COMPOSE_DOCKER_CLI_BUILD=0
  [[ -x /usr/bin/dc ]] && alias _dc='/usr/bin/dc'
  alias dc='docker compose'
  alias dctop='watch docker compose ps'
  if [[ -d /srv/docker/naemon ]]; then
    alias naemoncheck='docker compose exec naemon runuser -u naemon -- naemon -v /etc/naemon/naemon.cfg'
    alias naemonreload='docker compose exec naemon pkill -P 1 -x naemon'
    if [[ ! -d /srv/docker/nagios ]]; then
      alias nagioscheck='docker compose exec naemon runuser -u naemon -- naemon -v /etc/naemon/naemon.cfg'
      alias nagiosreload='docker compose exec naemon pkill -P 1 -x naemon'
    fi
  fi

  if [[ -d /srv/docker/nagios ]]; then
    alias nagioscheck='docker compose exec nagios nagioscheck'
    alias nagiosreload='docker compose exec nagios nagiosreload'
  fi

  if [[ -d /srv/docker/nginx ]]; then
    command -v nginx > /dev/null 2>&1 || alias nginx='docker compose exec nginx nginx'
    alias nginxcheck='docker compose exec nginx nginx -t'
    alias nginxreload='docker compose exec nginx nginx -s reload'
  fi

  if ! command -v ollama > /dev/null 2>&1 && [[ -d /srv/docker/ollama ]]; then
    alias ollama='docker compose -f $COMPOSE_FILE exec -it ollama ollama'
  fi

  if ! command -v psql > /dev/null 2>&1 && [[ -d /srv/docker/postgres ]]; then
    alias psql='docker compose -f $COMPOSE_FILE exec -it -u postgres postgres env HISTSIZE=10000 HISTFILE=~/.psql_history psql'
    alias pbash='docker compose -f $COMPOSE_FILE exec -it -u postgres postgres bash'
    alias pg_dump='docker compose -f $COMPOSE_FILE exec -it -u postgres postgres pg_dump'
    alias pg_dumpall='docker compose -f $COMPOSE_FILE exec -it -u postgres postgres pg_dumpall'
    alias pg_restore='docker compose -f $COMPOSE_FILE exec -it -u postgres postgres pg_restore'
    alias createuser='docker compose -f $COMPOSE_FILE exec -it -u postgres postgres createuser'
    alias dropuser='docker compose -f $COMPOSE_FILE exec -it -u postgres postgres dropuser'
    alias createdb='docker compose -f $COMPOSE_FILE exec -it -u postgres postgres createdb'
    alias dropdb='docker compose -f $COMPOSE_FILE exec -it -u postgres postgres dropdb'
  fi

  if [[ -d /srv/docker/mysql ]]; then
    command -v mariadb > /dev/null 2>&1 || alias mariadb="docker compose exec -it -u mysql mysql mariadb"
    command -v mariadb-dump > /dev/null 2>&1 || alias mariadb-dump="docker compose exec -it -u mysql mysql mariadb-dump"
  fi
fi

# Ansible aliases
if command -v ansible-playbook > /dev/null 2>&1; then
  alias ap=ansible-playbook
  alias apv='ansible-playbook --ask-vault-pass'
  alias apkv='ANSIBLE_SSH_ARGS="-o GlobalKnownHostsFile=/dev/null -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no" ansible-playbook --ask-vault-pass'
  alias apk='ANSIBLE_SSH_ARGS="-o GlobalKnownHostsFile=/dev/null -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no" ansible-playbook'
  export ANSIBLE_NOCOWS=1
fi

# sudo/doas aliases
# The space after sudo/mysudo allows for alias expansion in sudo
command -v sudo > /dev/null 2>&1
ret_sudo=$?
command -v doas > /dev/null 2>&1
ret_doas=$?
(( ret_sudo == 0 )) && alias sudo='sudo '
(( ret_sudo != 0 && ret_doas == 0 )) && alias sudo='doas '
(( ret_sudo == 0 && ret_doas != 0 )) && alias doas='sudo '
unset ret_sudo ret_doas

# Window Manager aliases
command -v Hyprland > /dev/null 2>&1 && alias h='Hyprland'
command -v mango > /dev/null 2>&1 && alias m='mango'
command -v niri > /dev/null 2>&1 && alias n='niri-session > /dev/null 2>&1'
command -v sway > /dev/null 2>&1 && alias S='sway'

# Create SSH ctl directory
[[ ! -d "$XDG_RUNTIME_DIR"/ssh-ctl ]] && mkdir -pm 700 "$XDG_RUNTIME_DIR"/ssh-ctl
[[ ! -L "$HOME"/.ssh/ctl ]] && ln -s "$XDG_RUNTIME_DIR"/ssh-ctl "$HOME"/.ssh/ctl

# SSH key stuff
[[ ! -e "$XDG_RUNTIME_DIR"/ssh-auth-sock && -n "$SSH_AUTH_SOCK" ]] && \
  ln -sf "$SSH_AUTH_SOCK" "$XDG_RUNTIME_DIR"/ssh-auth-sock
if [[ -n "$SSH_CONNECTION" && ! -S "$XDG_RUNTIME_DIR"/ssh-auth-sock && -S "$SSH_AUTH_SOCK" ]]; then
  ln -sf "$SSH_AUTH_SOCK" "$XDG_RUNTIME_DIR"/ssh-auth-sock
fi

# SSH without saving known_hosts
alias rsynck='rsync -e "ssh -o GlobalKnownHostsFile=/dev/null -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"'
alias sshk='ssh -o GlobalKnownHostsFile=/dev/null -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no'
alias scpk='scp -o GlobalKnownHostsFile=/dev/null -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no'

# tmux-specific stuff
if command -v tmux > /dev/null 2>&1; then
  [[ -e "$XDG_CONFIG_HOME"/tmux/tmux.conf.remain ]] && \
    alias remain='tmux -f "$XDG_CONFIG_HOME"/tmux/tmux.conf.remain new-session -A -s main'

  if [[ "${HOSTNAME%%.*}" == mercury && ("${SSH_CLIENT%% *}" == 192.168.25.38 || "${SSH_CLIENT%% *}" == 192.168.25.38) ]]; then
    alias tmux='ssh carme tmux'
  fi
fi

# Random password generator
if ! command -v passgen > /dev/null 2>&1; then
  passgen() {
    LENGTH=$1
    tr -cd '[:alnum:]' < /dev/urandom | fold -w "${LENGTH:-64}" | head -n 1 | tr -d '\n' ; echo
  }
fi
! command -v genpass > /dev/null 2>&1 && alias genpass=passgen

# Get file age
fileage() {
  mode=seconds
  verbose=false
  local opt OPTIND=1 str filename
  local usage="usage: fileage [-v] [-s|-m|-h|-d|-y] FILE\n         -v         : print label\n         -s|m|h|d|y : seconds|minutes|days|years (default: seconds)\n"
  while getopts ":hsmhdyv" opt; do
    case $opt in
      s) mode=seconds ; mult=1 ;;
      m) mode=minutes ; mult=60 ;;
      h) [[ -z "$2" || ${2:0:1} == - ]] && { printf "%b" "$usage" >&2 ; return 1 ; }
         mode=hours   ; mult=$((60 * 60)) ;;
      d) mode=days    ; mult=$((60 * 60 * 24)) ;;
      y) mode=years    ; mult=$((60 * 60 * 24 * 365)) ;;
      v) verbose=true ;;
      *) printf "%b" "$usage" && return 1 ;;
    esac
  done
  shift $((OPTIND -1))
  $verbose && str=" $mode"
  filename=$(realpath "$1")
  [[ ! -r "$filename" ]] && { echo "Error: Cannot find $filename" >&2 ; return 1 ; }
  echo $(( ($(date +%s) - $(stat -c %Y "$filename")) / $((${mult:-1})) ))"$str"
}

command -v firejail > /dev/null 2>&1 && \
fj() {
  [[ -z "$1" ]] && { echo "usage: fj FIREJAILED_APP" >&2 ; return 1 ; }
  [[ "$1" == -l ]] && { firejail --list | awk -F: '! /(\/usr\/bin\/)?firejail --join/{sub(/^(\/usr\/bin\/)?firejail /,"",$NF);print $NF}' ; return ; }
  echo "$1" | grep -q firejail && { echo "Error: 'firejail' cannot be used in app string" >&2 ; return 1 ; }
  app_pid=$(firejail --list | awk -F: "/$1/ { print \$1 }")
  count=$(echo "$app_pid" | wc -w)
  if (( count == 0 )); then
    echo "Error: No matches found for '$1'" >&2
    return 1
  elif (( count > 1 )); then
    echo "Error: More than one match found for '$1'" >&2
    return 1
  fi
  echo "$app_pid"|grep -Eq "^[0-9]+$" || { echo "Error: Invalid FIREJAILED_APP (pid: $app_pid)" >&2 ;return 1; }
  firejail --join="$app_pid" bash
}

# OS Specific Commands
case "$ID" in
  arch|archarm)
    alias ls_orphans='pacman -Qdtq'
    alias rm_orphans='o=$(pacman -Qdtq); [[ -n "$o" ]] && echo Removing "$o" && sudo pacman -Rcns "$o"; unset o'
    alias updates='echo Using pacman; sudo pacman -S --needed archlinux-keyring ; sudo pacman -Syu --noconfirm'
    ;;
  debian|ubuntu)
    alias updates='echo Using apt dist-upgrade; sudo apt update && sudo apt dist-upgrade -y'
    ;;
  OpenBSD)
    # Print status of command without interrupting it (e.g. ping)
    stty status '^T'
    export LESS=FRSXc
    alias updates="echo running syspatch; doas syspatch; echo running pkg_add -u; doas pkg_add -ui"

    # Allow ps on OpenBSD to accept -ef
    ps() {
      local W
      if [[ $(echo "$1" | cut -b 1-3) == "-ef" ]]; then
        [[ "$*" == *w* ]] && W=-w
        [[ "$*" == *ww ]] && W=-ww
        /bin/ps -A -o user,pid,ppid,pcpu,start,tty,time,args "$W"
      else
        /bin/ps "$@"
      fi
    }

    # Shortcuts for using halt and reboot with shutdown group membership
    if groups | grep -qw _shutdown; then
      halt_func() { shutdown -h "$@" now; } ; alias halt=halt_func
      reboot_func() { shutdown -r "$@" now; } ; alias reboot=reboot_func
    fi
    ;;
esac

# Some host-specific settings
case "$HOSTNAME" in
  mercury)
    case "$ID" in
      arch)
        alias remain='echo SSH to carme'
        command -v paru &>/dev/null && alias paru='env PKGDEST="$HOME"/paru paru --needed --mflags OPTIONS=-debug'
        alias pu='pacman -Q > "$XDG_CONFIG_HOME"/pacman_$(hostname -s).list;git commit -m "Package updates" "$XDG_CONFIG_HOME"/pacman_$(hostname -s).list'
        alias ya=ytdlalbum
        alias ys=ytdlsong
        alias yy=ytdlartist
        alias fp=fix-music-perms
        alias sunrpe='sudo su -s /bin/bash -l nrpe'
        alias dmesg='sudo dmesg'

        pushprofile() {
          local f list ros roh out
          cd "$HOME" || return 1
          list="jupiter earth carme metis sinope tarvos neso"
          [[ -n "$1" ]] && list="$*"
          roh=" carme metis sinope tarvos neso "
          for f in $list; do
            echo "$f"
            out=$(rsync -a -4 --info=NAME --relative --recursive \
              .config/shell/merdely.profile "$f": 2>&1 | tee /dev/stderr)
            [[ -n "$out" && $roh == *" $f "* ]] && ros="$ros $f"
          done
          for f in $ros; do
            [[ " $list " == *" $f "* ]] || continue
            echo "$f: sync_home"
            ssh -4 -o ClearAllForwardings=yes root@"$f" /home/mike/.local/bin/sync_home > /dev/null
          done
        }

        pushknownhosts() {
          local f list
          list="mercury jupiter earth carme metis tarvos"
          [[ -n "$1" ]] && list="$*"
          for f in $list; do
            [[ " carme metis tarvos " == *" $f "* ]] && continue
            echo "$f"
            scp "$HOME"/src/ansible/system-setup/roles/sshclient/files/ssh_known_hosts \
              root@"$f":/etc/ssh/ssh_known_hosts
          done
          for f in carme metis tarvos; do
            [[ " $list " == *" $f "* ]] || continue
            echo "$f"
            ssh -o ClearAllForwardings=yes root@"$f" /usr/local/bin/rw
            scp "$HOME"/src/ansible/system-setup/roles/sshclient/files/ssh_known_hosts \
              root@"$f":/etc/ssh/ssh_known_hosts
            ssh -o ClearAllForwardings=yes root@"$f" /usr/local/bin/ro
          done
        }

        pushvimrc() {
          local f list ros roh out
          cd "$HOME" || return 1
          list="jupiter earth carme metis sinope tarvos"
          [[ -n "$1" ]] && list="$*"
          roh=" carme metis sinope tarvos "
          for f in $list; do
            echo "$f"
            out=$(rsync -a --info=NAME --relative --recursive \
              .config/vim/vimrc "$f": 2>&1 | tee /dev/stderr)
            [[ -n "$out" && $roh == *" $f "* ]] && ros="$ros $f"
          done
          for f in $ros; do
            [[ " $list " == *" $f "* ]] || continue
            echo "$f: sync_home"
            ssh -o ClearAllForwardings=yes root@"$f" /home/mike/.local/bin/sync_home > /dev/null
          done
        }
        ;;
    esac
    alias change_password='tmux neww -dn chpass;for f in earth jupiter dione venus tarvos sinope carme metis;do tmux splitw -dt:$ "ssh $f";tmux selectl -t:$ tiled;done;tmux set -wt:$ synchronize-panes;tmux set -wt:$ pane-active-border-style fg=red;tmux selectl -t:$ main-vertical;tmux selectw -t:$'
    ;;
  carme|metis)
    alias updates='echo Using pikvm-update; sudo pikvm-update --no-reboot'
    ;;
  neptune)
    [[ "$ID" == arch ]] && alias dmesg='sudo dmesg'
    alias ya=ytdlalbum
    alias ys=ytdlsong
    alias yy=ytdlartist
    alias fp=fix-music-perms
    ;;
  uranus)
    [[ "$ID" == arch ]] && alias dmesg='sudo dmesg'
    alias ya=ytdlalbum
    alias ys=ytdlsong
    alias yy=ytdlartist
    alias fp=fix-music-perms
    ;;
  pluto)
    alias pubip='ifconfig egress | awk "\$1==\"inet\"{print \$2}"'
    ;;
esac

# Wayland stuff
if [[ "$XDG_SESSION_TYPE" == wayland ]]; then
  export SSH_ASKPASS=yad-askpass
  export SSH_AUTH_SOCK=$XDG_RUNTIME_DIR/ssh-agent.socket
fi

# Wayland stuff over SSH
if [[ "$ID" != OpenBSD && -z "$SUDO_USER" && -z "$DOAS_USER" && -n "$SSH_CONNECTION" ]]; then
  WAYLAND_DISPLAY_FILE=$(find "$XDG_RUNTIME_DIR" -maxdepth 1 -regex ".*/wayland-[0-9]+")
  if [[ -n "$WAYLAND_DISPLAY_FILE" ]]; then
    export XDG_SESSION_TYPE=wayland
    export WAYLAND_DISPLAY=${WAYLAND_DISPLAY_FILE##*/}

    if command -v swaymsg > /dev/null 2>&1; then
      SWAYSOCK=$(find "$XDG_RUNTIME_DIR" -maxdepth 1 -name "sway-ipc.*.*.sock")
      [[ -n "$SWAYSOCK" ]] && export SWAYSOCK
      [[ -z "$SWAYSOCK" ]] && unset SWAYSOCK
      export XDG_CURRENT_DESKTOP=sway
    fi

    if command -v hyprctl > /dev/null 2>&1; then
      HYPRLAND_INSTANCE_SIGNATURE=$(hyprctl -j instances 2>/dev/null | jq -r '.[-1].instance' 2> /dev/null)
      [[ -n "$HYPRLAND_INSTANCE_SIGNATURE" ]] && export HYPRLAND_INSTANCE_SIGNATURE
      [[ -z "$HYPRLAND_INSTANCE_SIGNATURE" ]] && unset HYPRLAND_INSTANCE_SIGNATURE
      export XDG_CURRENT_DESKTOP=Hyprland
    fi

    if command -v niri > /dev/null 2>&1; then
      NIRI_SOCKET=$(find "$XDG_RUNTIME_DIR" -maxdepth 1 -name "niri.wayland-*.sock")
      [[ -n "$NIRI_SOCKET" ]] && export NIRI_SOCKET
      [[ -z "$NIRI_SOCKET" ]] && unset NIRI_SOCKET
      export XDG_CURRENT_DESKTOP=niri
    fi
  else
    unset WAYLAND_DISPLAY_FILE
  fi
fi

[[ -e "$HOME"/.profile.local ]] && . "$HOME"/.profile.local

true
