#!/bin/sh
# vim: filetype=sh :

# When this script or any of the hashes below change, update files
# .config/nvim/init.lua: {{ include "dot_config/nvim/init.lua" | sha256sum }}

[ "$LOGNAME" != "mike" ] && exit 0

command -v nvim > /dev/null 2>&1 || exit 0

sudo=sudo
! command -v sudo > /dev/null 2>&1 && sudo=doas
if [ "$sudo" = "doas" ] && ! command -v doas > /dev/null 2>&1; then
  echo "Error: Cannot find sudo or doas" >&2
  exit 0
fi

echo "Processing Run OnChange for nvim init.lua"

$sudo mkdir -p /etc/xdg/nvim

# Copy nvim init.lua to /etc/xdg/nvim
if [ ! -e /etc/xdg/nvim/init.lua ] || \
     ! cmp -s "$HOME"/.config/nvim/init.lua /etc/xdg/nvim/init.lua; then
  echo "Installing nvim init.lua to /etc/xdg/nvim"
  $sudo install -m 644 -o root -g "$(id -gn root)" "$HOME"/.config/nvim/init.lua /etc/xdg/nvim
fi
