# vim: set filetype=toml :

{{- $username := "mike" -}}
{{- $main_system := "mercury" -}}
{{- $gpgkey := "801D19B7706D19AE4663426338D39B589EE2D1DD" -}}

{{- $install_pkgs := false -}}
{{- $is_desktop   := false -}}
{{- $install_pkgs = promptBool "Install missing packages" false -}}
{{- if $install_pkgs -}}
{{-   $is_desktop   = promptBool "Is this system a desktop" false -}}
{{- end }}

{{- $use_pass := false -}}
{{- if and (lookPath "pass") (lookPath "gpg") (exec "gpg" "--list-secret-keys" $gpgkey) -}}
{{-   $use_pass = true -}}
{{- end -}}
{{- "" }}

progress = true

[data]
    username = {{ $username | quote }}
    main_system = {{ $main_system | quote }}
    install_pkgs = {{ $install_pkgs }}
    is_desktop = {{ $is_desktop }}
    use_pass = {{ $use_pass }}

[edit]
    apply = true

[git]
    autoCommit = true
    autoPush = true

{{- if and (eq .chezmoi.hostname $main_system) (eq .chezmoi.username $username) }}

[hooks.apply.pre]
command = "chezmoi"
args = ["re-add", "~/.cache/rofi-rbw.runcache"]

[hooks.update.pre]
command = "chezmoi"
args = ["re-add", "~/.cache/rofi-rbw.runcache"]
{{- end }}

[hooks.read-source-state.pre]
command = ".local/share/chezmoi/home/.prep-chezmoi.sh"
