#!/bin/sh
# vim: filetype=sh :

[ "$(hostname -s)" = "venus" ] && exit 0

# When this script or any of the hashes below change, update files
# .config/vim/vimrc: {{ include "dot_config/vim/vimrc" | sha256sum }}

[ "$LOGNAME" != "{{ .username }}" ] && exit 0

command -v vim > /dev/null 2>&1 || exit 0

sudo=sudo
! command -v sudo > /dev/null 2>&1 && sudo=doas
if [ "$sudo" = "doas" ] && ! command -v doas > /dev/null 2>&1; then
  echo "Error: Cannot find sudo or doas" >&2
  exit 0
fi

echo "Processing Run OnChange for vimrc"

[ -r /etc/os-release ] && . /etc/os-release
[ "$uname -s" = "OpenBSD" ] && ID=OpenBSD
case "$ID" in
  arch|artix|cachyos|garuda|endeavouros|manjaro|parabola|hyperbola|blackarch)
    vimrc=/etc/vimrc
    ;;
  debian|ubuntu|linuxmint|pop|elementary|kali|parrot|mx|raspbian|tails|zorin)
    vimrc=/etc/vim/vimrc
    ;;
  OpenBSD|openbsd)
    vimrc=/usr/local/share/vim/vimrc
    ;;
esac

[ ! -e "$vimrc" ] && exit 0

# Have vimrc.local added to system vimrc if needed
if ! grep -q "source $vimrc.local" "$vimrc"; then
  cat << EOF | $sudo tee -a "$vimrc" > /dev/null

" load /etc/vimrc.local
if !filereadable(expand('~/.config/vim/vimrc')) &&
    \ !filereadable(expand('~/.vim/vimrc')) &&
    \ !filereadable(expand('~/.vimrc')) &&
    \ filereadable('/etc/vimrc.local')
  source $vimrc.local
endif
EOF
fi

# Copy home_known_hosts to /etc/ssh/ssh_known_hosts if they differ
if [ ! -e "$vimrc".local ] || \
     ! cmp -s "$HOME"/.config/vim/vimrc "$vimrc".local; then
  echo "Installing vimrc to $vimrc.local"
  $sudo install -m 644 -o root -g "$(id -gn root)" "$HOME"/.config/vim/vimrc "$vimrc".local
fi

