* {
  background-image: none;
}

window {
  background-color: rgba(12, 12, 12, 0.9);
}

button {
  color: #ffffff;
  background-color: #1e1e1e;
  border-style: solid;
  border-width: 2px;
  background-repeat: no-repeat;
  background-position: center;
}

button:focus,
button:active,
button:hover {
  background-color: #3daee9;
  outline-style: none;
}

#lock {
  background-image: url("/usr/share/wleave/icons/lock.svg"),
    url("/usr/local/share/wleave/icons/lock.svg");
  background-size: 100px 100px;
}

#logout {
  background-image: url("/usr/share/wleave/icons/logout.svg"),
    url("/usr/local/share/wleave/icons/logout.svg");
  background-size: 100px 100px;
}

#suspend {
  background-image: url("/usr/share/wleave/icons/suspend.svg"),
    url("/usr/local/share/wleave/icons/suspend.svg");
  background-size: 100px 100px;
}

#hibernate {
  background-image: url("/usr/share/wleave/icons/hibernate.svg"),
    url("/usr/local/share/wleave/icons/hibernate.svg");
  background-size: 100px 100px;
}

#shutdown {
  background-image: url("/usr/share/wleave/icons/shutdown.svg"),
    url("/usr/local/share/wleave/icons/shutdown.svg");
  background-size: 100px 100px;
}

#reboot {
  background-image: url("/usr/share/wleave/icons/reboot.svg"),
    url("/usr/local/share/wleave/icons/reboot.svg");
  background-size: 100px 100px;
}

#cancel {
  background-image: url("/home/mike/.config/wleave/cancel.svg");
  background-size: 100px 100px;
}

#screen-off {
  background-image: url("/home/mike/.config/wleave/screen-off.svg");
  background-size: 100px 100px;
}
