[Desktop Entry]
Exec=x-terminal-emulator -e --class btop btop
Name=Btop
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
