# converted by firecfg
[Desktop Entry]
Version=1.5
Name=LibreWolf
Comment=Browse the World Wide Web
GenericName=Web Browser
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=librewolf -P Mike %u
Icon=librewolf
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=LibreWolf
Categories=Network;WebBrowser;
Actions=profile-manager;mike-private-window;MikeNoGPU;LocalProxy;MusicProxy;TorrentProxy;

[Desktop Action profile-manager]
Name=_ProfileMgr
Exec=librewolf --ProfileManager %u
Icon=librewolf-blue

[Desktop Action mike-private-window]
Name=Mike Private
Exec=librewolf -P Mike --private-window %u
Icon=librewolf-gray

[Desktop Action MikeNoGPU]
Name=MikeNoGPU
Exec=/usr/bin/env __NV_PRIME_RENDER_OFFLOAD= librewolf -P MikeNoGPU %u

[Desktop Action LocalProxy]
Name=LocalProxy
Exec=librewolf --name librewolf_localproxy -P LocalProxy %u
Icon=librewolf-brown

[Desktop Action MusicProxy]
Name=MusicProxy
Exec=librewolf --name librewolf_musicproxy -P MusicProxy %u
Icon=librewolf-red

[Desktop Action TorrentProxy]
Name=TorrentProxy
Exec=librewolf --name librewolf_torrentproxy -P TorrentProxy %u
Icon=librewolf-black

