[Desktop Entry]
Exec=x-terminal-emulator -e --class term-scratchpad --title "Terminal Scratchpad"
Name=Terminal Scratchpad
Icon=utilities-terminal
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
