[Desktop Entry]
Exec=x-terminal-emulator -e --class htop htop
Name=Htop
Icon=htop
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
