* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 0;
    border-color: black;
    text-decoration-color: #FFFFFF;
    color: #FFFFFF;
    background-color: #1E1E1E;
    border-style: solid;
    border-width: 1px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;

    font-size: 20px;
}

button:focus, button:active, button:hover {
    /* background-color: #3700B3; */
    background-color: #2E2E2E;
    outline-style: none;
}

/* padding/margin shorthand:
 *   margin: top right bottom left
 *   margin: top right-left bottom
 *   margin: top-bottom right-left
 *
 */

#lock {
    margin: 210px 15px;

    padding: 0px 0px;

    border-radius: 20px;
    background-image: image(url("/home/mike/.config/wlogout/icons/lock.svg"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    margin: 210px 15px;

    padding: 0px 0px;

    border-radius: 20px;
    background-image: image(url("/home/mike/.config/wlogout/icons/logout.svg"), url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#reboot {
    margin: 210px 15px;

    padding: 0px 0px;

    border-radius: 20px;
    background-image: image(url("/home/mike/.config/wlogout/icons/reboot.svg"), url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

#hibernate {
    margin: 210px 15px;

    padding: 0px 0px;

    border-radius: 20px;
    background-image: image(url("/home/mike/.config/wlogout/icons/hibernate.svg"), url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#suspend {
    margin: 210px 15px;

    padding: 0px 0px;

    border-radius: 20px;
    background-image: image(url("/home/mike/.config/wlogout/icons/suspend.svg"), url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#shutdown {
    margin: 210px 15px;

    padding: 0px 0px;

    border-radius: 20px;
    background-image: image(url("/home/mike/.config/wlogout/icons/shutdown.svg"), url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

