[Desktop Entry]
Name=Solaar Applet
Comment=Logitech Unifying Receiver peripherals manager (Starts hidden)
Exec=solaar -w hide
Icon=solaar
StartupNotify=true
Terminal=false
Type=Application
Keywords=logitech;unifying;receiver;mouse;keyboard;
Categories=Utility;GTK;
#Categories=Utility;GTK;Settings;HardwareSettings;
X-GNOME-UsesNotifications=true
