[Desktop Entry]
Version=1.0
Name=Chromium
GenericName=Web Browser
Comment=Access the Internet
Exec=chromium --ozone-platform=wayland --user-data-dir=/home/mike/.config/ungoogled-chromium-mike %U
StartupWMClass=chromium-browser
StartupNotify=true
Terminal=false
Icon=chromium
Type=Application
Categories=Network;WebBrowser;WebDevelopment;Viewer;
Keywords=chrome;internet;browser;chromium;google;ungoogled;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=noprofile;mike-nogpu;doh-profile;temp-non-firejail;copperriver
X-Flatpak=io.github.ungoogled_software.ungoogled_chromium
X-Flatpak-RenamedFrom=com.github.Eloston.UngoogledChromium.desktop;

[Desktop Action mike-nogpu]
Name=Mike NoGPU
Exec=chromium --ozone-platform=wayland --user-data-dir=/home/mike/.config/ungoogled-chromium-mike --disable-gpu %U

[Desktop Action noprofile]
Name=NoProfile
Exec=chromium --ozone-platform=wayland --user-data-dir=/home/mike/.config/ungoogled-chromium %U

[Desktop Action doh-profile]
Name=DoH
Exec=chromium --ozone-platform=wayland --user-data-dir=/home/mike/.config/ungoogled-chromium-doh %U

[Desktop Action temp-non-firejail]
Name=Temporary Non-Firejail
Exec=bash -c 'tmp=$(mktemp -d /run/user/$EUID/ugc.XXXXXXXXX); /usr/bin/chromium --ozone-platform=wayland --user-data-dir="$tmp"; rm -Rf "$tmp"'

[Desktop Action copperriver]
Name=CopperRiver
Exec=chromium --ozone-platform=wayland --user-data-dir=/home/mike/.config/ungoogled-chromium-cr %U

