// vim: set filetype=cfg :
// defaultPref("general.useragent.override", "Mozilla/5.0 (Windows NT 10.0; rv:128.0) Gecko/20100101 Firefox/128.0");

// Letter boxing
// defaultPref("privacy.resistFingerprinting.letterboxing", true);
// defaultPref("privacy.resistFingerprinting.letterboxing.didForceSize", true);
// defaultPref("privacy.resistFingerprinting.letterboxing.gradient", true);
// defaultPref("privacy.resistFingerprinting.letterboxing.vcenter", true);

const fpp_overrides = JSON.stringify([
  {"firstPartyDomain": "erdelynet.com", "overrides": "-JSDateTimeUTC"},
  {"firstPartyDomain": "erde.ly", "overrides": "-JSDateTimeUTC"},
  {"firstPartyDomain": "erdely.co", "overrides": "-JSDateTimeUTC"},
  {"firstPartyDomain": "erdely.in", "overrides": "-JSDateTimeUTC"},
  {"firstPartyDomain": "messages.google.com", "overrides": "-JSDateTimeUTC"},
  {"firstPartyDomain": "fastmail.com", "overrides": "-JSDateTimeUTC"},
  {"firstPartyDomain": "office365.us", "overrides": "-JSDateTimeUTC"},
  {{- if (and (hasKey . "use_pass") (eq .use_pass true)) }}
  {"firstPartyDomain": "{{ pass "chezmoi/librewolf/work_url1" }}", "overrides": "-JSDateTimeUTC"},
  {"firstPartyDomain": "{{ pass "chezmoi/librewolf/bcs_url1" }}", "overrides": "-JSDateTimeUTC"},
  {"firstPartyDomain": "{{ pass "chezmoi/librewolf/bcs_url2" }}", "overrides": "-JSDateTimeUTC"},
{{ else }}
{{ end -}}]);

defaultPref("privacy.fingerprintingProtection.granularOverrides", fpp_overrides);
defaultPref("privacy.resistFingerprinting.exemptedDomains", "claude.ai,*.erdelynet.com,*.erdely.co,*.erde.ly,*.erdely.in,*.fastmail.com,messages.google.com{{ if (and (hasKey . "use_pass") (eq .use_pass true)) }},{{ pass "chezmoi/librewolf/bcs_url1" }},{{ pass "chezmoi/librewolf/bcs_url2" }}{{ end }}");

defaultPref("webgl.disabled", false);
defaultPref("media.ffmpeg.vaapi.enabled", true);
defaultPref("media.hardware-video-decoding.force-enabled", true);
defaultPref("media.videocontrols.picture-in-picture.video-toggle.enabled", false);
defaultPref("browser.newtabpage.activity-stream.showSponsoredCheckboxes", false);
defaultPref("browser.contentblocking.category", "strict");
defaultPref("privacy.trackingprotection.allow_list.baseline.enabled", true);
defaultPref("identity.fxaccounts.enabled", true);

defaultPref("toolkit.legacyUserProfileCustomizations.stylesheets", true);
defaultPref("browser.compactmode.show", true);
defaultPref("browser.uidensity", 1);

// Disable showing glyphs as fonts (fixes showing "th" as "þ")
defaultPref("gfx.font_rendering.opentype_svg.enabled", false);
