output "eDP-1" {
    position x=0 y=0
}

output "DP-1" {
    focus-at-startup
    position x=1920 y=0
}

output "HDMI-A-1" {
    position x=3840 y=0
}

binds {
//     Mod+Shift+d  hotkey-overlay-title="Terminal File Manager"  { spawn-sh "$HOME/.config/niri/new_scratchpad termfm"; }
    Mod+Ctrl+Semicolon  hotkey-overlay-title="System Monitor"   { spawn-sh "$HOME/.config/niri/scratchpad htop-earth"; }
    Mod+Ctrl+Apostrophe hotkey-overlay-title="GPU Monitor"      { spawn-sh "$HOME/.config/niri/scratchpad nvtop-earth"; }
}

// Fix for nvidia card
debug { wait-for-frame-completion-before-queueing; }
