[defaults]
inventory = ~/.config/ansible/hosts
remote_tmp = /tmp/ansible-$USER
roles_path = ~/.config/ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles

# [ssh_connection]
# ssh_args = -o AddressFamily=inet
