# vim: set filetype=conf :
cameras[garagedoorcam]="rtsp://camera:{{ if has .chezmoi.hostname (.trusted_hosts|default list) }}{{ pass "systems/frigate/rtsp" }}{{ end }}@frigate.erdely.in:8554/garagedoorcam"
cameras[backyardcam]="rtsp://frigate:{{ if has .chezmoi.hostname (.trusted_hosts|default list) }}{{ pass "systems/cameras/frigate" }}{{ end }}@backyardcam.erdely.in:554"
cameras[backyard2cam]="rtsp://frigate:{{ if has .chezmoi.hostname (.trusted_hosts|default list) }}{{ pass "systems/cameras/frigate" }}{{ end }}@backyard2cam.erdely.in:554"
cameras[chimneycam]="rtsp://frigate:{{ if has .chezmoi.hostname (.trusted_hosts|default list) }}{{ pass "systems/cameras/frigate" }}{{ end }}@chimneycam.erdely.in:554"
cameras[frontdoorcam]="rtsp://frigate:{{ if has .chezmoi.hostname (.trusted_hosts|default list) }}{{ pass "systems/cameras/frigate" }}{{ end }}@frontdoorcam.erdely.in:554"
cameras[frontdoor2cam]="rtsp://frigate:{{ if has .chezmoi.hostname (.trusted_hosts|default list) }}{{ pass "systems/cameras/frigate" }}{{ end }}@frontdoor2cam.erdely.in:554"
cameras[garagecam]="rtsp://frigate:{{ if has .chezmoi.hostname (.trusted_hosts|default list) }}{{ pass "systems/cameras/frigate" }}{{ end }}@garagecam.erdely.in:554"
cameras[shedcam]="rtsp://frigate:{{ if has .chezmoi.hostname (.trusted_hosts|default list) }}{{ pass "systems/cameras/frigate" }}{{ end }}@shedcam.erdely.in:554"
