# vim: set filetype=rc :
[notifications]
ha_server={{ if has .chezmoi.hostname (.trusted_hosts|default list) }}{{ pass "systems/homeassistant/url" }}{{ end }}
ha_token={{ if has .chezmoi.hostname (.trusted_hosts|default list) }}{{ pass "systems/homeassistant/token" }}{{ end }}

