[global]
dns_domain: erdelynet.com
dns_record: smtpx

# 300 / day
[brevo]
api_key: {{ pass "services/brevo/apikey" }}
limit: 300

# 200 / day
[mailjet]
api_key: {{ pass "services/mailjet/apikey" }}
secret_key: {{ pass "services/mailjet/apisecret" }}
limit: 200

# 100 / day
[mailgun]
api_key: {{ pass "services/mailgun/apikey" }}
secret_key: {{ pass "services/mailgun/apisecret" }}
limit: 100

# 1000 / month
[smtp2go]
api_key: {{ pass "services/smtp2go/apikey" }}
limit: 1000

# 1000 / month
[mailersend]
api_key: {{ pass "services/smtp2go/apikey" }}
limit: 1000

