# vim: set filetype=rc :

[global]
dns_domain: erdelynet.com
dns_record: smtpx

# 300 / day
[brevo]
api_key: {{ if has .chezmoi.hostname (.trusted_hosts|default list) }}{{ pass "services/brevo/apikey" }}{{ end }}
limit: 300

# 200 / day
[mailjet]
api_key: {{ if has .chezmoi.hostname (.trusted_hosts|default list) }}{{ pass "services/mailjet/apikey" }}{{ end }}
secret_key: {{ if has .chezmoi.hostname (.trusted_hosts|default list) }}{{ pass "services/mailjet/apisecret" }}{{ end }}
limit: 200

# 100 / day
[mailgun]
api_key: {{ if has .chezmoi.hostname (.trusted_hosts|default list) }}{{ pass "services/mailgun/apikey" }}{{ end }}
secret_key: {{ if has .chezmoi.hostname (.trusted_hosts|default list) }}{{ pass "services/mailgun/apisecret" }}{{ end }}
limit: 100

# 1000 / month
[smtp2go]
api_key: {{ if has .chezmoi.hostname (.trusted_hosts|default list) }}{{ pass "services/smtp2go/apikey" }}{{ end }}
limit: 1000

# 1000 / month
[mailersend]
api_key: {{ if has .chezmoi.hostname (.trusted_hosts|default list) }}{{ pass "services/smtp2go/apikey" }}{{ end }}
limit: 1000

